annotated-types @ file:///home/task_176174487770266/conda-bld/annotated-types_1761744918950/work
appdirs==1.4.4
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
backports.tarfile @ file:///croot/backports.tarfile_1728485181323/work
boltons @ file:///croot/boltons_1751383775419/work
brotlipy==0.7.0
CacheControl @ file:///croot/cachecontrol-split_1712341954984/work
cachy @ file:///Users/ktietz/demo/mc3/conda-bld/cachy_1629144064963/work
certifi @ file:///home/task_175978575413734/conda-bld/certifi_1759786089495/work/certifi
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///croot/click_1744271578095/work
click-default-group @ file:///croot/click-default-group_1676366308064/work
clikit @ file:///home/conda/feedstock_root/build_artifacts/clikit_1734603284312/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda @ file:///croot/conda_1754469510968/work/conda-src
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1742218810516/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_lock @ file:///home/conda/feedstock_root/build_artifacts/conda-lock_1710366468788/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307506088/work
crashtest @ file:///croot/crashtest_1745484719041/work
cryptography @ file:///croot/cryptography_1686613057838/work
distlib @ file:///croot/distlib_1714716998232/work
distro @ file:///croot/distro_1714488253808/work
ensureconda @ file:///croot/ensureconda_1745484430344/work
filelock @ file:///croot/filelock_1744281381737/work
frozendict @ file:///home/task_176174993815241/conda-bld/frozendict_1761750665074/work
gitdb @ file:///croot/gitdb_1753362118172/work
GitPython @ file:///home/task_176129100143901/conda-bld/gitpython_1761291255729/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///croot/jaraco.context_1728505015448/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
keyring @ file:///croot/keyring_1745484691218/work
libmambapy @ file:///home/task_175762295314561/conda-bld/mamba-split_1757622984093/work/libmambapy
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
menuinst @ file:///home/task_176132609099686/conda-bld/menuinst_1761326138563/work
more-itertools @ file:///home/task_176112147925715/conda-bld/more-itertools_1761121522892/work
msgpack @ file:///croot/msgpack-python_1750958623279/work
packaging @ file:///home/task_176104876094959/conda-bld/packaging_1761049077121/work
pastel @ file:///tmp/build/80754af9/pastel_1600457269988/work
pkginfo @ file:///croot/pkginfo_1743184746806/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
pluggy @ file:///croot/pluggy_1733169602837/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///home/task_176069748998440/conda-bld/pydantic_1760697501821/work
pydantic_core @ file:///home/task_176059738170589/conda-bld/pydantic-core_1760597432083/work
pylev @ file:///croot/pylev_1749578946939/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
requests @ file:///croot/requests_1756709366904/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
SecretStorage @ file:///croot/secretstorage_1678709481048/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap @ file:///croot/smmap_1752748938695/work
tomli @ file:///croot/tomli_1753774587605/work
tomlkit @ file:///croot/tomlkit_1728650307440/work
toolz @ file:///croot/toolz_1667464077321/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
typing-inspection @ file:///home/task_176061393977231/conda-bld/typing-inspection_1760614195209/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
virtualenv @ file:///croot/virtualenv_1733440267065/work
webencodings==0.5.1
zipp @ file:///croot/zipp_1732630741423/work
zstandard @ file:///croot/zstandard_1731356346222/work
